<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div class="form-group" [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'input'" class="form-control" [formControlName]="questionInput.key" 
      [placeholder]="questionInput.placeholder"
      [id]="questionInput.key" [type]="questionInput.type">

    <input *ngSwitchCase="'number'" class="form-control" [formControlName]="questionNumber.key" 
      [placeholder]="questionNumber.placeholder"
      [id]="questionNumber.key" [type]="questionNumber.type" 
      [min]="questionNumber.min" [max]="questionNumber.max">

    <select [id]="questionDropdown.key" *ngSwitchCase="'dropdown'" [formControlName]="questionDropdown.key">
      <option *ngFor="let opt of questionDropdown.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>