/* MessagesComponent's private CSS styles */
body {
  margin: 2em;
}
body,
input[text],
button {
  color: crimson;
  font-family: Cambria, Georgia;
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #333;
  height: 25px;
  width: 20%;
}
:host {
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 18%;
}
p{
  border: 1px outset gray;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
}

.message {
  background-color: rgba(144, 93, 51, 0.2);
}
.message-log {
  height: 300px;
  margin-bottom: -14px;
  border : solid 1px rgba(0,0,0,0.5)    
}
.message-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 20px;
  height: 20px;
  background-color: white;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}